/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	/*background-color: #333333;*/
	background-image: url("../images/background.jpeg");
	/*background-image: linear-gradient(rgba(17,126,112,0.75), rgba(0,88,255,0.45)), url("../images/background.jpeg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	

}

/*target the elements container*/
.container{
	width: 500px;
	margin: 0 auto; /*centers the element horizontally*/
	text-align: center;
}
/*end container*/
/* targets the html element h1 */
h1 {
	color: #603030; /* this change the color of h1 elemet */
	background-color: #a89078; /*off black*/
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 3px;
	font-family: 'McLaren', cursive;
	margin-bottom: 90px;
	border-radius: 90px

}
/* end of h1 styling */

/*start of h2 styling*/

h2 {
	color: #603030;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: #a89078;
	margin-bottom: 90px;
	padding: 10px;
	border-radius: 10px
}
/*end of h2 styling*/

/* targets the html element with the class attribute bio*/
.bio {
	color: white;
	font-size: 18px;
	line-height: 25px;
	background-color: rgba(255,0,0, 0.50);

}

/*end of bio*/

/*targets the html attribute id with a value me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: #333333;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end of me*/